.d2{
    display:flex;
    padding: 5px;
    margin: 4px;
    width:100%; 
}

#dd2{
    display:block;
    padding:6px;
    margin: 5px;
}

.dashboardRow2>a h1{
    width : 40px;
    height : 3px;
    color : blue;
    padding : 15px;
    margin : 5px 5px 5px 5px;
    text-align :center;
    display:block;
    display : flex;
    
}

.dashboardRow2 >a{
    text-decoration : none;
}

.dashboardRow2 > a:hover h1{
   /* text-decoration : overline;*/
    color : black; 
}


#dashboardRow3>a h1{
    height : 2px;
    color : blue;
    padding : 10px;
    text-align : left;
    display : inline-block;
    
}

#dashboardRow3 >a{
    text-decoration : none;
}

#dashboardRow3 > a:hover h1{
    text-decoration : overline;
    color : black; 
}

/*Sales Activity*/
#salesActivity{
   /* border : 1px solid pink;
    background-color : pink;*/
    height : 300px;
    width :auto;
    overflow :scroll;
}

.sales{
    position:relative;
    border:1px solid black;
   /* background-color: maroon;*/
    color : lightsalmon;
    width : 90px;
    height : 120px;
    text-align : center;
    border-radius: 20px;
    margin:10px;
    padding:15px;
    display : inline-block;
}

body{
    font-family : 'Robot',sans-serif;
}

/*NAVIGATION BAR*/
*{
    margin : 0;
    padding : 0;
    list-style : none;
    text-decoration : none;
}

.sidebar{
    position : initial;
    left : 0;
    width : 200px;
    height : 100%;
    background : #042331;
    overflow : scroll;
    overflow-x: hidden;
}

.sidebar ul a{
    display : block;
    /*height:100%;
    width:100%;*/
    line-height : 50px;
    font-size : 15px;
    color : white;
    padding-left : 40px;
    box-sizing : border-box;
    border-top : 1px solid rgba(255,255,255,.1);
    border-bottom : 1px solid black;
    transition : .4s;
}

ul li:hover a{
    padding-left: 50px;
    color:dodgerblue;
}
/*
.sidebar>ul>li>a.active{
    background-color: #4CAF50;
    color:white;
}

.sidebar>ul>li>a:hover:not(.active) {
    background-color: #555;
    color: white;

}
*/
/*.sidebar ul li>.active>a{
    background-color: red;
}*/

/*
ul li:link a{
    color:red;
}
*/
.sidebar ul a i{
    margin-right : 16px;
}
